/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: monospace;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#main {
    max-width: 80rem;
    padding-top: 10rem;
}

#main .section {
    border-left: #3dbd5d 1rem solid;
    padding-left: 2rem;
    font-size: 1.5em;
}

#main h1 {
    background: url(/img/basket.png) repeat-x;
}

#main h1 .title {
    background: white;
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    margin-top: -1rem;
}

#footer {
    max-width: 80rem;
    height: 10rem;
    background: #eaeaea;
    margin-top: 10rem;
}

#picture img {
    height: 15rem;
    opacity: .1;
    margin: 0 auto;
    display: block;
}

#picture {
    padding-top: 3rem;
}

#main #social.section, #main #useful-links.section {
    border-left-color: transparent;
}

#social ul {
    list-style: none;
    padding-left: 0;
    padding-top: 2rem;
}

#social ul li {
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#social ul li a {
    color: inherit;
    text-decoration: none;
    border-bottom: #f77e5e .25rem solid;
    display: block;
    line-height: 2;
}

#social ul li a:active, #social ul li a:focus, #social ul li a:hover {
    background: #f77e5e;
}

#quote {
    font-size: 2em;
    font-family: serif;
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

#quote .content {
    width: 15.5rem;
    margin: 0 auto;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
}

#quote a {
    text-decoration: none;
    color: inherit;
}

#quote a:active, #quote a:focus, #quote a:hover {
    background: #f77e5e;
}

#useful-links {
    margin-top: 5rem;
}

.section ul.list {
    list-style: none;
    padding-left: 1.75rem;
    margin: 0;
}

.section ul.list li:before {
    content: "*";
    margin-left: -1.75rem;
    color: #f77e5e;
    font-weight: bold;
    padding-right: .5em;
    position: relative;
    top: .2em;
}

ul.list a {
    color: inherit;
    text-decoration: none;
}


ul.list a:active, ul.list a:focus, ul.list a:hover {
    background: #f77e5e;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 50rem) {
    /* Style adjustments for viewports that meet the condition */

    #picture {
        float: left;
        height: 1px;
        padding-left: 8rem;
        padding-top: 2rem;
    }

    #main #social.section {
        padding-left: 22rem;
    }

    #social {
        padding-bottom: 5rem;
    }

    #social ul li {
        float: left;
    }

    #quote {
        float: left;
    }

    #useful-links {
        margin-left: 20rem;
    }

    .section .col {
        float: left;
        width: 50%;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
